.aboutContent {
    width: 100%;
    height: 980px;
    background-color: white
}

@font-face {
    font-family: 'UbuntuL';
    src: local('UbuntuL'), url(../content/fonts/Ubuntu-L.ttf) format('truetype');
  }

  @font-face {
    font-family: 'UbuntuR';
    src: local('UbuntuR'), url(../content/fonts/SourceSansPro-Light.otf) format('truetype');
  }

.aboutTitleText{
    font-size: 40px;
    margin-left: 20;
    margin-right: 60;
    margin-top: 100px;
}

.aboutTitleDecor{
    width: 100px;
    margin-top: 100px;
    margin-right: 20px;
}

.aboutTitle {
    width: 100%;
    height: 20%;
    margin-right: 50px;
    font-family: UbuntuL;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.aboutTitleText{
    margin-right: 90px;
    font-size: 40px;
}

.aboutDescription {
    width: 100%;
    height: 20%;
    font-family: UbuntuR;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.aboutDescriptionText{
    width: 50%;
    font-size: 24px
}

.aboutPhotos {
    width: 100%;
    height: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.aboutPhoto {
    width: 22%;
    margin-left: 50px;
    margin-right: 50px;
}

@media only screen and (max-width: 1150px){  
    
    .aboutContent {
        width: 100%;
        height: 1380px;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .aboutTitle {
        width: 100%;
        height: 10%;
        margin-right: 0px;
        font-family: UbuntuL;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    .aboutTitleText{
        font-size: 30px;
        margin-left: 20;
        margin-right: 60;
        margin-top: 10px;
    }

    .aboutDescription {
        width: 100%;
        height: 15%;
        font-family: UbuntuR;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    .aboutDescriptionText{
        width: 50%;
        font-size: 21px
    }
    
    .aboutTitleDecor{
        width: 100px;
        margin-top: 10px;
        margin-right: 20px;
    }

    .aboutPhoto {
        width: 330px;
        margin-left: 50px;
        margin-right: 50px;
    }

    .aboutPhotos {
        width: 80%;
        height: 80%;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (max-width: 750px){  
    .aboutPhoto {
        width: 300px;
        margin-left: 50px;
        margin-right: 50px;
    }

    .aboutDescriptionText{
        width: 80%;
        font-size: 21px
    }

    .aboutTitleText{
        font-size: 25px;
        margin-left: 20;
        margin-right: 60;
        margin-top: 10px;
    }

    .aboutTitleDecor{
        width: 80px;
        margin-top: 10px;
        margin-right: 20px;
    }
}

@media only screen and (max-width: 500px){ 
    .aboutPhoto {
        width: 300px;
        margin-left: 50px;
        margin-right: 50px;
    }

    .aboutDescriptionText{
        width: 80%;
        font-size: 19px
    }

    .aboutTitleText{
        font-size: 18px;
        margin-left: 10px;
        margin-right: 60px;
        margin-top: 10px;
    }

    .aboutTitleDecor{
        width: 50px;
        margin-top: 10px;
        margin-right: 10px;
    }
}

@media only screen and (max-width: 360px){ 
    .aboutPhoto {
        width: 250px;
        margin-left: 50px;
        margin-right: 50px;
    }

    .aboutDescriptionText{
        margin-top: 30px;
        width: 80%;
        font-size: 19px
    }

    .aboutTitleText{
        font-size: 15px;
        margin-left: 0px;
        margin-right: 50px;
        margin-top: 10px;
    }

    .aboutTitleDecor{
        width: 0px;
        margin-top: 10px;
        margin-right: 10px;
        margin-left: 50px;
    }

    .aboutContent {
        width: 100%;
        height: 1280px;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}