@font-face {
    font-family: 'UbuntuL';
    src: local('UbuntuL'), url(../content/fonts/Ubuntu-L.ttf) format('truetype');
  }

.mainWhole {
    width: 100%;
    height: 100%;
    background: url('../content/images/back1.png');
    background-size: cover;
}

.mainContent {
    width: 100%;
    height: 980px;
    display: flex;
}

.mainText {
    width: 50%;
    height: 100%;
    font-family: UbuntuL;
    color: white;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    /*background-color: maroon;*/   
}

.mainLogo {
    width: 50%;
    height: 100%;
    margin-right: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /*background-color: mediumslateblue;*/
}

.mainDate{
    font-size: 50px;
    margin-left: 100px;
}

.mainTitle{
    font-size: 74px;
    margin: 60px;
    margin-left: 100px;
    font-weight: 'bold';
}

.mainPlace{
    font-size: 32px;
    margin-left: 100px;
}

@media only screen and (max-width: 1150px){
    .mainContent {
        width: 100%;
        height: 980px;   
        flex-direction: column;
        align-items: center;
    }

    .mainText {
        width: 100%;
        height: 50%;
        margin-top: 50px;
        font-family: UbuntuL;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .mainLogo {
        width: 70%;
        height: 50%;
        align-items: center;
        justify-content: center;
    }

    .mainDate{
        font-size: 40px;
        text-align: center;
        margin-right: 80px;
        margin-top: 70px;
    }
    
    .mainTitle{
        font-size: 60px;
        margin: 60px;
        font-weight: 'bold';
        text-align: center;
    }
    
    .mainPlace{
        font-size: 32px;
        text-align: center;
        margin-right: 80px;
    }

    .mainLogoImg{
        width: 90%;
    }
}

@media only screen and (max-width: 450px){
    .mainTitle{
        font-size: 45px;
        margin: 60px;
        font-weight: 'bold';
        text-align: center;
    }
    
}