.speakersContent {
    width: '100%';
    height: 2780px;
    display: flex;
}

.speakersMainPart{
    width: 80%;
    height: 100%;
}

.speakersRow{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 50px;
}

.speakersLeft{
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.speakersRight{
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@font-face {
    font-family: 'UbuntuL';
    src: local('UbuntuL'), url(../content/fonts/Ubuntu-L.ttf) format('truetype');
  }

.speakersTitle {
    width: 100%;
    height: 5%;
    font-family: UbuntuL;
    margin-top: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.speakersDescription {
    width: 100%;
    height: 10%;
    margin-top: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.speakers{   
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.speakersDescriptionText{
    font-size: 22px;
    width: 70%;
}

.speakersTitleText{
    font-size: 45px;
    margin-left: 120px;
    margin-right: 10px; 
}

.speakersTitleDecor{
    width: 100px;
}

@media only screen and (max-width: 1600px){ 
    .speakersRow{
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 1000px){ 
    .speakersDescriptionText{
        width: 100%;
    }
    
    .speakersRow{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 800px){ 
    .speakersContent{
        height: 2000px;
    }

    .speakersDescriptionText{
        font-size: 20px;
        width: 100%;
    }

    
.speakersTitleText{
    font-size: 28px;
    margin-left: 50px;
    margin-right: 0px; 
    text-align: center;
}

.speakersTitleDecor{
    width: 0px;
}
}


@media only screen and (max-width: 580px){ 
    .speakersDescriptionText{
        font-size: 18px;
        width: 100%;
    }

    
    .speakersTitleText{
        font-size: 28px;
        margin-left: 50px;
        margin-right: 0px; 
    }

    .speakersTitleDecor{
        width: 0px;
    }
}

@media only screen and (max-width: 450px){ 

    .speakers{
        margin-top: 70px;
    }


    .speakersRow{
        width: 100%;
        justify-content: space-between;
    }
}


@media only screen and (max-width: 380px){ 

    .speakers{
        margin-top: 100px;
    }

    .speakersRow{
        width: 100%;
        justify-content: space-between;
    }
}