.videosContent{
    width: 100%;
    height: 170px;
    background: rgb(0,51,232);
    background: linear-gradient(90deg, rgba(45,53,162), rgba(230,66,156));
    display: flex;
    justify-content: space-between;
}

.videosMainPart{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: 'UbuntuL';
    src: local('UbuntuL'), url(../content/fonts/Ubuntu-L.ttf) format('truetype');
}

.videosTitle{
    width: 60%;
    font-family: UbuntuL;
    display: flex;
    align-items: center;
    justify-content: center;
}

.videos{
    width: 35%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.video{
    width: 100px;
    cursor: pointer;
}

.videosIndicator{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
}

.videosTitleText{
    font-size: 55px;
    color: white;
    text-align: center;
}

@media only screen and (max-width: 900px){
    .videosContent{
        width: 100%;
        height: 270px;
        display: flex;
        justify-content: space-between;
    }

    .videosMainPart{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .videosTitle{
        width: 100%;
        font-family: UbuntuL;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .videos{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 600px){
    .videosContent{
        width: 100%;
        height: 210px;
        display: flex;
        justify-content: space-between;
    }

    .videosTitleText{
        font-size: 38px;
        color: white;
        text-align: center;
    }

    .video{
        width: 80px;
    }
}

@media only screen and (max-width: 400px){
    .videosContent{
        width: 100%;
        height: 170px;
        background: rgb(0,51,232);
        background: linear-gradient(90deg, rgba(45,53,162), rgba(230,66,156));
        display: flex;
        justify-content: space-between;
    }

    .video{
        width: 60px;
    }
    
    .videosTitleText{
        font-size: 31px;
        margin-top: 10px;
        color: white;
        text-align: center;
    }
}