.videosContent{
    width: 100%;
    height: 670px;
    background: url('../content/images/background6.png');
    background-size: cover;
    display: flex;
    justify-content: space-between;
}

.speakersMainPart{
    width: 80%;
    height: 100%;
}

.videosLeft{
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.videosRight{
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@font-face {
    font-family: 'UbuntuL';
    src: local('UbuntuL'), url(../content/fonts/Ubuntu-L.ttf) format('truetype');
}

.videosTitle{
    width: 100%;
    height: 15%;
    font-family: UbuntuL;
    display: flex;
    align-items: center;
    justify-content: center;
}

.videos{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.video{
    width: 20%;
}

.videosIndicator{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
}

.videosTitleText{
    font-size: 55px;
    margin-top: 60px;
    color: white;
    text-align: center;
}

@media only screen and (max-width: 900px){
    .videosContent{
        width: 100%;
        height: 470px;
        background: url('../content/images/background6.png');
        background-size: cover;
        display: flex;
        justify-content: space-between;
    }
}

@media only screen and (max-width: 600px){
    .videosContent{
        width: 100%;
        height: 370px;
        background: url('../content/images/background6.png');
        background-size: cover;
        display: flex;
        justify-content: space-between;
    }

    
    .videosTitleText{
        font-size: 45px;
        margin-top: 60px;
        color: white;
        text-align: center;
    }
}

@media only screen and (max-width: 400px){
    .videosContent{
        width: 100%;
        height: 270px;
        background: url('../content/images/background6.png');
        background-size: cover;
        display: flex;
        justify-content: space-between;
    }

    .videos{
        margin-top: 40px;
    }
    
    .videosTitleText{
        font-size: 36px;
        margin-top: 60px;
        color: white;
        text-align: center;
    }
}