.header {
    height: 100px;
    display: flex;
}

@font-face {
    font-family: 'Ubuntu';
    src: local('Ubuntu'), url(../content/fonts/Ubuntu-B.ttf) format('truetype');
  }

.logo {
    width: 50%;
    /*background-color: gold;*/
    font-family: Ubuntu;
    font-size: 45px;
    margin-left: 90px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.menu {
    width: 50%;
    font-size: 20px;
    color: blue;    
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
}

.menuButton {
    margin: 35px;
    margin-top: 90px;
    color: white;
}

.menuButtonVideos {
    margin: 35px;
    margin-top: 90px;
    font-family: Ubuntu;
    background-color: white;    
    padding: 8px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 30px;
}

@media only screen and (max-width: 1600px){
    .header {
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;
    }
    .menu {
        width: 50%;
        font-size: 20px;
        color: blue;    
        display: flex;
        margin-left: 10px;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
    }
    .logo {
        width: 50%;
        font-family: Ubuntu;
        font-size: 45;
        color: white;
        display: flex;
        margin-top: 60px;
        margin-right: 70px;
        align-items: center;
        justify-content: center;
    }
    .menuButton {
        margin: 15px;
        margin-top: 10px;
        color: white;
    }
    .menuButtonVideos {
        margin: 15px;
        margin-top: 15px;
        font-family: Ubuntu;
        background-color: white;    
        padding: 8px;
        padding-left: 30px;
        padding-right: 30px;
        border-radius: 30px;
    }
    
}


@media only screen and (max-width: 750px){
    .header {
        height: 500px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .menu {
        width: 50%;
        font-size: 40px;
        color: blue;    
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .logo {
        width: 50%;
        font-family: Ubuntu;
        font-size: 35px;
        margin-right: 90px;
        color: white;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .menuButton {
        margin: 15px;
        margin-top: 10px;
        color: white;
    }
    .menuButtonVideos {
        margin: 35px;
        margin-top: 10px;
        font-family: Ubuntu;
        background-color: white;    
        padding: 8px;
        padding-top: 0px;
        padding-left: 30px;
        padding-right: 30px;
        border-radius: 30px;
    }
    
}