@font-face {
    font-family: 'UbuntuL';
    src: local('UbuntuL'), url(../content/fonts/Ubuntu-L.ttf) format('truetype');
}

.speakerContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: UbuntuL;
    width: 350px;
    height: 450px;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 25px;
    margin: 3px;
}

.speakerGradient{
    background: rgb(0,51,232);
    background: linear-gradient(90deg, rgba(45,53,162), rgba(230,66,156));
    border-radius: 35px;
}

.speakerText{
    display: flex;
    align-items: center;
    margin-top: 25px;
    font-family: UbuntuL;
    flex-direction: column;
    width: 100%;
}

.speakerFooter{
    margin-top: 4px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.speakerAvatarTheme {
    width: 60px;
    margin-left: 15px;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.speakerName {
    color: white;
    font-size: 32px;
    font-weight: bold;
}

.speakerDescription {
    width: 70%;
    font-size: 18px;
    margin-top: 7px;
    text-align: center;
    color: white;
}

.speakerAvatar {
    width: 150px;
    height: 150px;
}

.speakerAvatarBackground{
    width: 160px;
    height: 160px;
    background-color: white;
    border-radius: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.speakerAvatarThemeBackground{
    display: flex;
    align-items: center;
    align-self: center;
    width: 90px;
    height: 90px;
    margin-top: 40px;
    border-radius: 100px;
    background-color: white;
}

@media only screen and (max-width: 1400px){ 
    .speakerContent{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: UbuntuL;
        width: 300px;
        height: 420px;
        border-radius: 10px;
        padding-top: 20px;
        padding-bottom: 25px;
        margin: 3px;
    }

    .speakerAvatar {
        width: 140px;
        height: 140px;
    }

    .speakerAvatarBackground{
        width: 140px;
        height: 140px;
        background-color: white;
        border-radius: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 800px){
    .speakerContent{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: UbuntuL;
        width: 200px;
        height: 270px;
        border-radius: 10px;
        padding-top: 30px;
        padding-bottom: 35px;
        margin: 3px;
    }

    .speakerText{
        display: flex;
        align-items: center;
        margin-top: 10px;
        font-family: UbuntuL;
        flex-direction: column;
        width: 100%;
    }

    .speakerName{
        font-size: 22px;
    }

    .speakerDescription{
        font-size: 14px;
        width: 80%;
    }

    .speakerAvatar{
        width: 100px;
        height: 100px;
    }

    .speakerAvatarBackground{
        width: 100px;
        height: 100px;
        background-color: white;
        border-radius: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .speakerAvatarTheme{
        margin-top: 5px;
        margin-left: 20px;
        width: 50px;
    }

    
    .speakerAvatarThemeBackground{
        display: flex;
        align-items: center;
        align-self: center;
        width: 90px;
        height: 90px;
        margin-top: 20px;
        border-radius: 100px;
        background-color: white;
    }
}


@media only screen and (max-width: 550px){
    .speakerContent{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: UbuntuL;
        width: 165px;
        height: 230px;
    }

    .speakerName{
        font-size: 20px;
    }

    .speakerDescription{
        font-size: 13px;
    }

    .speakerAvatarBackground{
        width: 60px;
        height: 60px;
    }

    .speakerAvatar{
        width: 80px;
        height: 80px;
    }
    
    .speakerAvatarTheme{
        margin-top: 0px;
        width: 40px;
        margin-left: 15px;
    }

    .speakerAvatarThemeBackground{
        display: flex;
        align-items: center;
        align-self: center;
        width: 70px;
        height: 70px;
        margin-top: 16px;
        border-radius: 100px;
        background-color: white;
    }
}


@media only screen and (max-width: 450px){
    .speakerContent{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: UbuntuL;
        width: 140px;
        height: 230px;
    }

    .speakerName{
        font-size: 18px;
        text-align: center;
    }

    .speakerDescription{
        font-size: 13px;
    }

    .speakerAvatar{
        width: 80px;
        height: 80px;
    }
    
    .speakerAvatarTheme{
        margin-top: 0px;
        width: 40px;
        margin-left: 15px;
    }

    .speakerAvatarThemeBackground{
        display: flex;
        align-items: center;
        align-self: center;
        width: 70px;
        height: 70px;
        margin-top: 16px;
        border-radius: 100px;
        background-color: white;
    }
}

@media only screen and (max-width: 390px){
    .speakerContent{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: UbuntuL;
        width: 130px;
        height: 230px;
    }

    .speakerAvatar{
        margin-bottom: 20px;
    }
}
