@font-face {
    font-family: 'Ubuntu';
    src: local('Ubuntu'), url(../content/fonts/Ubuntu-B.ttf) format('truetype');
  }

  @font-face {
    font-family: 'UbuntuL';
    src: local('UbuntuL'), url(../content/fonts/Ubuntu-L.ttf) format('truetype');
  }

.statisticsItemContent{
    width: 400px;
    height: 400px;
    margin-right: 60px;
    margin-left: 60px;
    font-family: Ubuntu;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white
}

.statisticsItemDescription{
    font-family: UbuntuL;
}